# Системные файлы
.DS_Store
Thumbs.db

# Временные файлы
*.log
*.tmp

# Директории IDE
.vscode/
.idea/

# Директории Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Другие
lost+found/